.load {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #42a4e6;
  border-radius: 45%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 10px;
}
.card-columns {
  position: relative;
}
.card-not-found {
  width: 100%;
  position: absolute;
}
.not-found {
  max-width: 100%;
  text-align: center;
  color: #fff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    column-count: 2;
  }
}
@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
}
